This is our index page

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Age</th>
      
      <th>Date of Birth</th>
      <th>Above18</th>
      <th>Desc</th>
      <th>Created At</th>
      <th>Updated At</th>
       <th>Modify</th>
       <th>Remove</th>
    </tr>
  </thead>
  <tbody>

<tr>
  <td> <%=@row.name%></td>
<td><%=  @row.age %></td>
<td><%=  @row.dob %></td>
<td><%=  @row.above18 %></td>
<td><%=  @row.desc %></td>
<td><small><%= @row.updated_at.strftime("%b %d. %Y") %></small></br></td>
<td><small><%= @row.created_at.strftime("%b %d. %Y") %></small></br></td>
<td><%= link_to "Edit", {:controller => 'students' , :action => 'edit', :id => @row.id} %></td>
<td><%= link_to 'Destroy', @row, data:{confirm: 'Are you sure to delete'} , method: :delete %></td>
</tr>

  </tbody>
    </table><br>
    <%= link_to "Add New", new_student_path %>